.python/
.venv/
*.egg-info/
.qgis-mcp-packages/
.docker-local/
data/postgres/
data/pgadmin/
qgis_mcp_vendor
/maps/pei
/maps/halifax
POSTGIS-MCP.md
QGIS-MCP.md
/tmp
data/postgres.zip
/web/node_modules
